<html>
    <head>
        <meta charset=utf-8>  
        <title>Funny English</title>
    </head>
    <body>What did the Buffalo say to his little boy when he dropped him off at school? Bison.
    <p>Переклад:</p>
    <p><b>Що сказав Буффало своєму маленькому хлопчикові, коли він його відпустив у школі? Зубр.</b></p>
    <p>English (Australia)</p>
    <audio controls="" name="en-au">
    <source src="http://api.voicerss.org/?key=b6a6c17f866b483dbfb8d6eef76b05ae&hl=en-au&src=What did the Buffalo say to his little boy when he dropped him off at school? Bison.&f=48khz_16bit_stereo" type="audio/wav"></audio>
    <p>English (Canada)</p>
    <audio controls="" name="en-ca">
    <source src="http://api.voicerss.org/?key=b6a6c17f866b483dbfb8d6eef76b05ae&hl=en-ca&src=What did the Buffalo say to his little boy when he dropped him off at school? Bison.&f=48khz_16bit_stereo" type="audio/wav"></audio>
    <p>English (Great Britain)</p>
    <audio controls="" name="en-gb">
    <source src="http://api.voicerss.org/?key=b6a6c17f866b483dbfb8d6eef76b05ae&hl=en-gb&src=What did the Buffalo say to his little boy when he dropped him off at school? Bison.&f=48khz_16bit_stereo" type="audio/wav"></audio>
    <p>English (India)</p>
    <audio controls="" name="en-in">
    <source src="http://api.voicerss.org/?key=b6a6c17f866b483dbfb8d6eef76b05ae&hl=en-in&src=What did the Buffalo say to his little boy when he dropped him off at school? Bison.&f=48khz_16bit_stereo" type="audio/wav"></audio>
    <p>English (United States)</p>
    <audio controls="" name="en-us">
    <source src="http://api.voicerss.org/?key=b6a6c17f866b483dbfb8d6eef76b05ae&hl=en-us&src=What did the Buffalo say to his little boy when he dropped him off at school? Bison.&f=48khz_16bit_stereo" type="audio/wav"></audio>
    

    <p>Виберіть нові для вас слова.</p>
    <p>Для того, щоб вибрати більше ніж одне слово - затисніть Cntr(Windows) або Command (Mac)</p>
    <form method="POST" action="dictionary_append" >
    <select name="words" size="17" multiple>
    <option value="off">off</option>
<option value="to">to</option>
<option value="little">little</option>
<option value="his">his</option>
<option value="What">What</option>
<option value="did">did</option>
<option value="him">him</option>
<option value="Bison.">Bison.</option>
<option value="say">say</option>
<option value="school?">school?</option>
<option value="the">the</option>
<option value="he">he</option>
<option value="at">at</option>
<option value="boy">boy</option>
<option value="dropped">dropped</option>
<option value="when">when</option>
<option value="Buffalo">Buffalo</option>

    </select>
    <input type="submit" value="Записати слова в словник"><br>
    </form>
    <form method="GET" action="next_joke" >
    <input type="submit" value="Наступний жарт"><br>
    </form>
    <form method="GET" action="dictionary_show" >
    <input type="submit" value="Показати словник"><br>
    </form>
    </body>
    </html>
    